nav{
    display: flex;
    background-color: palevioletred;
    padding: 10px;    
    justify-content: center;
    
}

.nav--logo{
    height: 30px;
    width: 30px;
    align-self: center;
    padding-right: 5px;
}

.nav--title{
    font-size: medium;
    text-align: center;

}

.entry{
    display: flex;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

    
}

.entry--image{
    width: 300px;
    height: 250px;
    padding: 50px;
}

.entry--info{

}

.entry--stats{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-top: 50px;

}
.entry--pin{
    width: 20px;
    height: 20px;
    padding-right: 0px;
}

.entry--link{
    color: grey;
}


.entry--loc{
    font-weight: lighter;
    letter-spacing: 1.5px;
    max-height: 30px;
}

.entry--text{
    max-width: 300px;
    font-weight: lighter;
}